body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1659px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:107px;
  width:59px;
  height:19px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:179px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u1620_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1620_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:887px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u1621_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1621_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:69px;
  width:34px;
  height:34px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u1625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:113px;
  width:59px;
  height:18px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:86px;
  width:278px;
  height:1px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:69px;
  width:34px;
  height:34px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u1632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:113px;
  width:59px;
  height:18px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:194px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:238px;
  width:224px;
  height:42px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:224px;
  height:34px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:253px;
  width:12px;
  height:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:1404px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1464px;
  height:1404px;
  opacity:0.6;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:694px;
  width:1460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:1404px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1px;
  width:793px;
  height:1404px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:694px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:26px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:22px;
  width:26px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:2px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:37px;
  width:585px;
  height:1px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:520px;
  width:90px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u1659_ann {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:516px;
  width:1px;
  height:1px;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:520px;
  width:90px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u1661_ann {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:516px;
  width:1px;
  height:1px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:110px;
  width:465px;
  height:273px;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:68px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:68px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  line-height:18px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:26px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:60px;
  height:68px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  line-height:18px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:25px;
  width:28px;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:150px;
  height:68px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  line-height:18px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:25px;
  width:118px;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:68px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:200px;
  height:68px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  color:#666666;
  line-height:18px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:25px;
  width:168px;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:50px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:68px;
  width:60px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:28px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:68px;
  width:150px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:68px;
  width:200px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:50px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:118px;
  width:60px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:28px;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:118px;
  width:150px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:118px;
  width:200px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:50px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:60px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:28px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:168px;
  width:150px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:168px;
  width:200px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:182px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:50px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:218px;
  width:60px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:28px;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:218px;
  width:150px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:218px;
  width:200px;
  height:50px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#33CCFF;
  text-align:center;
  line-height:21px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:72px;
  width:77px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#33CCFF;
  text-align:center;
  line-height:21px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u1707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#33CCFF;
  text-align:center;
  line-height:21px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:71px;
  width:77px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#33CCFF;
  text-align:center;
  line-height:21px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:242px;
  width:97px;
  height:30px;
  color:#999999;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:252px;
  width:17px;
  height:10px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:188px;
  width:97px;
  height:30px;
  color:#999999;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:201px;
  width:17px;
  height:10px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:293px;
  width:97px;
  height:30px;
  color:#999999;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:306px;
  width:17px;
  height:10px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:341px;
  width:97px;
  height:30px;
  color:#999999;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:11px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:351px;
  width:18px;
  height:11px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:107px;
  width:476px;
  height:250px;
  text-align:left;
  line-height:22px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:472px;
  word-wrap:break-word;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:195px;
  width:20px;
  height:16px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:246px;
  width:20px;
  height:16px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:293px;
  width:20px;
  height:16px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:341px;
  width:20px;
  height:16px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
