.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.table_cell {
}
.connector {
  color:#FF0000;
}
.snapshot {
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.box_1 {
}
.table_cell1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.box_11 {
}
.line {
}
.table {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.arrow {
}
.ellipse {
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.placeholder {
}
.image {
}
._图片 {
}
.placeholder1 {
}
.icon {
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_2 {
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.line1 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.icon1 {
}
._图片2 {
  color:#000000;
}
.button {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
._流程形状 {
}
._水平线 {
}
.box_3 {
}
._形状 {
}
.box_31 {
}
.link_button {
  color:#169BD5;
}
.connector1 {
}
.text_area {
  color:#000000;
  text-align:left;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.ellipse1 {
}
.menu_item {
}
.tree_node {
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.flow_shape {
}
.html_button {
  text-align:center;
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
  text-align:center;
  line-height:normal;
}
.box_12 {
}
.shape {
}
.heading_11 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.vertical_line {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.horizontal_line {
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.line2 {
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本段落1 {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.primary_button1 {
  color:#FFFFFF;
}
._分割线 {
}
._图像 {
}
._连接符 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
  text-align:center;
  line-height:normal;
}
._形状3 {
}
.icon2 {
}
.box_21 {
}
.box_13 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.icon3 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
